:root {
    font-family: "Nunito Sans", sans-serif;
    --primary-color: #005CFF;
    --secondary-color: #6220C1;
    --text-color: #
    --bg-color: #E7E7EA;
    --bg-dark: #C2C2C2;
    --bg-light: #DEDEDE;
    --font-secondary: "Nunito", sans-serif;
}