:root {
    font-family: "Nunito Sans", sans-serif;
    --primary-color: #005CFF;
    --secondary-color: 
    --bg-color: #E7E7EA;
    --bg-darker: #C2C2C2;
    --font-secondary: "Nunito", sans-serif;
}